# This file was generated automatically from conda-smithy. To update this configuration,
# update the conda-forge.yml and/or the recipe/meta.yaml.

language: generic

os: osx
osx_image: xcode6.4

env:
  matrix:
    - CONFIG=osx_python2.7
    - CONFIG=osx_python3.5
    - CONFIG=osx_python3.6
    - CONFIG=osx_python3.7

  global:
    # The BINSTAR_TOKEN secure variable. This is defined canonically in conda-forge.yml.
    - secure: "l8+QXBIy9wcXpHWT1hjQn4lyPH3/4i48Zy7PUcrtcwBDsr8h9tfMxMLxaqjjggCtk7oHK79NVEH0GOxW8Rh8JM++I7iHZEgTLlW2Rk9V9J0ViG1miK921/YOsl2oN5a8Hg/0fHzo9Heh67iD7GvcSHV0aMHNWrbI+NCgaMV9MO7OKMzHQBjMvfdl8u8yvUHezWLXEvn3kSW1OJmUJ66LmdNNvpJopOatiNy4rFU2C2p6PTeF8j48MWp2/OWs5dBu8WQRR4iEUZRmWYNJ3ldb73z9UROAOAyUN6fYaBK5bTSxGz5Pyn2NMSdbVhHJpf7BJfxpuevG2IlC4UtJF/htGNVMcrCYDT6b6b1D7JptuhX8/6+FMh2T4/j24msIE/HEydH9EQIDAMDcvuLp67fnv1wwMNIBYqiXqMIApuanqQZdvWrw+/NI9RUM0OmoMTqcwYm0PnVIY3nI07L0eempu5fHLSJBD7HfxbEBSDUMlPL/9Xl4ZnOnqYak857OnFWMNu7o83Bq6gQ8k97kD7F5ofFRUgI23qxubF4Bygse2sltdJSqztFElIVodZgrtmgK+u9HdZ5nP+A6DtS+nDr8yvB6NH+QHrCJgrQ/tkK/XopLxS/sqiERZtj70IifWBV/M+df67LPw7NKLpvddbAYI82cuWIkMSrwoZ9CRfYiuwE="


before_install:
    # Fast finish the PR.
    - |
      (curl https://raw.githubusercontent.com/conda-forge/conda-forge-ci-setup-feedstock/branch2.0/recipe/conda_forge_ci_setup/ff_ci_pr_build.py | \
          python - -v --ci "travis" "${TRAVIS_REPO_SLUG}" "${TRAVIS_BUILD_NUMBER}" "${TRAVIS_PULL_REQUEST}") || exit 1

    # Remove homebrew.
    - |
      echo ""
      echo "Removing homebrew from Travis CI to avoid conflicts."
      curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/uninstall > ~/uninstall_homebrew
      chmod +x ~/uninstall_homebrew
      ~/uninstall_homebrew -fq
      rm ~/uninstall_homebrew


install:
    # Install Miniconda.
    - |
      echo ""
      echo "Installing a fresh version of Miniconda."
      MINICONDA_URL="https://repo.continuum.io/miniconda"
      MINICONDA_FILE="Miniconda3-latest-MacOSX-x86_64.sh"
      curl -L -O "${MINICONDA_URL}/${MINICONDA_FILE}"
      bash $MINICONDA_FILE -b

    # Configure conda.
    - |
      echo ""
      echo "Configuring conda."
      source /Users/travis/miniconda3/bin/activate root

      conda install --yes --quiet conda-forge::conda-forge-ci-setup=2
      setup_conda_rc ./ ./recipe ./.ci_support/${CONFIG}.yaml

      source run_conda_forge_build_setup

    # compiler cleanup
    - |
      mangle_compiler ./ ./recipe ./.ci_support/${CONFIG}.yaml

script:
  # generate the build number clobber
  - make_build_number ./ ./recipe ./.ci_support/${CONFIG}.yaml
  - conda build ./recipe -m ./.ci_support/${CONFIG}.yaml --clobber-file ./.ci_support/clobber_${CONFIG}.yaml
  - upload_package ./ ./recipe ./.ci_support/${CONFIG}.yaml
